.header__container {

    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;


}


.header__logo {
    margin-right: 68px;
}


.first-three {
    color: var(--accent-txt-cl);
}

.other {
    color: #000000;
}
.header__phone,
.header__mail {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms var(--cubic);
         &:hover,
        &:focus,
        &:hover,
        &:focus {
            color: var(--accent-txt-cl);
    
        }
}

.header__mail {
    margin-right: 30px;
}

.mail-icon {
    margin-right: 10px;
    fill: currentColor;
}
