.main__picture {
    max-width: 1600px;
    background-color: #2f303a;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/mainphoto.png);

    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;

}

.main__title {
    display: block;
    margin-right: auto;
    margin-left: auto;


    width: 696px;
    margin-bottom: 30px;



    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.main__btn {
    display: block;

    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;



    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    background-color: #2196F3;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 250ms var(--cubic);

    &:hover,
    &:focus {
    background-color: #2196F3;
    }
}